In [1]:
import pandas as pd
import os

folder_path = "https://storage.googleapis.com/cs163-seniorproject.appspot.com/dataset/poverty/raw_dataset/"

years = list(range(2013, 2024))  

poverty_data = []

for year in years:
    file_name = f"{year}.csv"
    file_path = os.path.join(folder_path, file_name)
    
    try:
        df = pd.read_csv(file_path)
        row = df[df['Label (Grouping)'] == "Population for whom poverty status is determined"]
        percent_str = row.iloc[0][
            "San Jose city, California!!Percent below poverty level!!Estimate"
        ]
        poverty_rate = float(percent_str.replace('%', '')) if isinstance(percent_str, str) else None
        poverty_data.append({'Year': year, 'Poverty Rate (%)': poverty_rate})
    except Exception as e:
        print(f"Error reading {file_name}: {e}")
        poverty_data.append({'Year': year, 'Poverty Rate (%)': None})
result_df = pd.DataFrame(poverty_data)

In [4]:
result_df

    Year  Poverty Rate (%)
0   2013              12.8
1   2014               9.4
2   2015               9.5
3   2016              10.7
4   2017               8.4
5   2018               8.3
6   2019               7.1
7   2020               8.3
8   2021               7.4
9   2022               9.0
10  2023               8.5