In [1]:
import pandas as pd

df = pd.read_csv('https://storage.googleapis.com/cs163-seniorproject.appspot.com/dataset/unemployment_rate/raw_dataset/san_jose_unemployment.txt')

numeric_cols = ['labor force', 'employment', 'unemployment', 'unemployment rate']

for col in numeric_cols:

    df[col] = df[col].astype(str).str.replace(r'\(M\)', '', regex=True).str.strip()
    # Convert to numeric
    if col == 'unemployment rate':
        df[col] = pd.to_numeric(df[col], errors='coerce', downcast='float')
    else:
        df[col] = pd.to_numeric(df[col], errors='coerce', downcast='integer')

print("Missing values:\n", df.isnull().sum())

print("\nData types:\n", df.dtypes)

invalid_rates = df[df['unemployment rate'] < 0]
if not invalid_rates.empty:
    print(f"Warning: {len(invalid_rates)} rows with negative unemployment rates")

df['calculated_labor_force'] = df['employment'] + df['unemployment']
mismatch = df[df['labor force'] != df['calculated_labor_force']]
if not mismatch.empty:
    print(f"Warning: {len(mismatch)} rows where labor force != employment + unemployment")

df = df.drop(columns=['calculated_labor_force'])

Missing values:
 Year                 0
Period               0
labor force          0
employment           0
unemployment         0
unemployment rate    0
dtype: int64

Data types:
 Year                   int64
Period                object
labor force            int32
employment             int32
unemployment           int32
unemployment rate    float32
dtype: object

In [2]:
df

     Year Period  labor force  employment  unemployment  unemployment rate
0    2013    Jan       992869      916327         76542                7.7
1    2013    Feb       996163      923606         72557                7.3
2    2013    Mar       994504      924924         69580                7.0
3    2013    Apr       989002      924742         64260                6.5
4    2013    May       992061      928508         63553                6.4
..    ...    ...          ...         ...           ...                ...
139  2024    Aug      1084052     1034804         49248                4.5
140  2024    Sep      1082375     1038464         43911                4.1
141  2024    Oct      1084095     1039352         44743                4.1
142  2024    Nov      1080834     1036027         44807                4.1
143  2024    Dec      1078520     1036708         41812                3.9

[144 rows x 6 columns]