In [7]:
import pandas as pd
import os

folder_path = "https://storage.googleapis.com/cs163-seniorproject.appspot.com/dataset/income/raw_dataset/"

median_data = []

for year in range(2013, 2024):
    file_path = os.path.join(folder_path, f"{year}.csv")
    
    try:
        df = pd.read_csv(file_path)
        median_row = df[df['Label (Grouping)'].str.contains("Median", case=False, na=False)]
        
        if not median_row.empty:
            median_str = median_row.iloc[0]['San Jose city, California!!Households!!Estimate']
            median_income = int(median_str.replace(",", ""))
            median_data.append({"Year": year, "Median_Household_Income": median_income})
        else:
            print(f"No income in {year}.csv")
    except Exception as e:
        print(f"Error in {year}.csv: {e}")

median_df = pd.DataFrame(median_data)

In [12]:
median_df

    Year  Median_Household_Income
0   2013                    80977
1   2014                    87210
2   2015                    91451
3   2016                   101940
4   2017                   104675
5   2018                   113036
6   2019                   115893
7   2020                   117324
8   2021                   126377
9   2022                   133835
10  2023                   136229